@media screen and (max-width: 600px) {
  .mobileJSX {
    .productSell {
      height: 80vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      .arrow-left-cart {
        padding-bottom: 20px;
        .ArrowLeft {
          position: relative;
          right: 170px;
          scale: 0.8;
        }
      }
      h2 {
        color: $fourth-color;
        font-family: $fontTitre;
        font-weight: lighter;
        text-align: center;
        // padding-top: 20px;
      }
      .infoForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        .labelImage {
          input[type="file"] {
            color: $primary-color;
          }
          input[type="file"]::-webkit-file-upload-button {
            border: none;
            border-radius: 20px;
            background-color: transparent;
            cursor: pointer;
            color: $fourth-color;
            font-family: $fontText;
            position: relative;
            right: 5px;
          }
        }
        label {
          display: flex;
          flex-direction: column;
          padding: 20px 0;
          input {
            width: 300px;
            padding: 10px 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $third-color;
            font-size: 20px;
            color: $fourth-color;
            font-family: $fontText;
            background-color: transparent;
            position: relative;
            // transition: all 1s ease;
          }
          input:focus {
            outline: none;
            // border-bottom: 1px solid $secondary-color;
          }
          input::placeholder {
            color: $fourth-color;
          }
          select {
            width: 300px;
            padding: 10px 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $third-color;
            font-size: 20px;
            color: $fourth-color;
            font-family: $fontText;
            background-color: transparent;
            position: relative;
            transition: all 1s ease;
          }
          select:focus {
            color: $third-color;
          }
        }
        .submitBtn {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          .submitBtn {
            width: 180px;
            height: 45px;
            font-size: 30px;
            font-family: $fontTitre;
            background-color: $secondary-color;
            border-radius: 30px;
            color: $fourth-color;
            border: none;
            cursor: pointer;
          }
        }
      }
      .popup {
        border: 1px solid $fourth-color;
        border-radius: 20px;
        background-color: $primary-color;
        width: 350px;
        height: 100px;
        position: absolute;
        bottom: 640px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $fontText;
        color: $third-color;
        font-size: 25px;
      }
    }
  }
  .desktopJSX {
    display: none;
  }
  .submitBtn {
    // padding-top: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .submitButton {
      width: 180px;
      height: 45px;
      font-size: 30px;
      font-family: $fontTitre;
      background-color: $secondary-color;
      border-radius: 30px;
      color: $fourth-color;
      border: none;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 601px) {
  .mobileJSX {
    display: none;
  }
  .desktopJSX {
    .productSell {
      // height: 75vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 30px;

      h2 {
        display: none;
      }

      .userBoardSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1a1c1e;
        box-shadow: 5px 5px 10px black;
        border: 1px solid #2c2c2c;
        border-radius: 20px;
        padding: 35px;

        .userImg {
          img {
            width: 250px;
            height: 250px;
            border-radius: 30px;
          }

          p {
            display: flex;
            justify-content: center;
            color: $secondary-color;
            font-family: $fontTitre;
            text-decoration: underline;
            padding-top: 0;
            font-size: 15px;
          }
        }

        .boardList {
          display: flex;
          flex-direction: column;
          color: $fourth-color;
          font-family: $fontTitre;
          font-size: 25px;
          padding-top: 20px;

          li {
            padding-bottom: 28px;
            color: $fourth-color;
          }
        }
      }

      .sellingSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        .head {
          p {
            color: $fourth-color;
            font-family: $fontTitre;
            font-size: 30px;
            padding-bottom: 30px;
          }
          .infoForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            .labelOthers {
              display: flex;
              flex-direction: column;
              padding: 20px 0;
              .inputOthers {
                width: 700px;
                padding: 10px 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $third-color;
                font-size: 20px;
                color: $fourth-color;
                font-family: $fontText;
                background-color: transparent;
                position: relative;
                transition: all 1s ease;
              }
              .inputOthers:focus {
                outline: none;
                border-bottom: 1px solid $secondary-color;
              }
              .inputOthers::placeholder {
                color: $fourth-color;
              }
              .select_selector {
                width: 700px;
                padding: 10px 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $third-color;
                font-size: 20px;
                color: $fourth-color;
                font-family: $fontText;
                background-color: transparent;
                position: relative;
                transition: all 1s ease;
              }
              .select_selector:focus {
                color: $third-color;
              }
            }
            .labelImage {
              width: 700px;
              padding: 10px 0;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid $third-color;
              font-size: 20px;
              color: $fourth-color;
              font-family: $fontText;
              background-color: transparent;
              .divInput input[type="file"] {
                color: $primary-color;
              }
              .divInput input[type="file"]::-webkit-file-upload-button {
                border: none;
                border-radius: 20px;
                background-color: transparent;
                cursor: pointer;
                color: $fourth-color;
                font-family: $fontText;
                position: relative;
                right: 5px;
                font-size: 20px;
                font-family: $fontText;
              }

              // .inputImage {
              //   display: none !important;
              // }
            }
            .submitBtn {
              margin-top: 20px;
              display: flex;
              justify-content: center;
              .submitBtn {
                width: 180px;
                height: 45px;
                font-size: 30px;
                font-family: $fontTitre;
                background-color: $secondary-color;
                border-radius: 30px;
                color: $fourth-color;
                border: none;
                cursor: pointer;
              }
            }
          }
          .popup {
            border: 1px solid $fourth-color;
            border-radius: 20px;
            background-color: $primary-color;
            width: 400px;
            height: 300px;
            position: absolute;
            bottom: 370px;
            left: 815px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fontText;
            color: $third-color;
            font-size: 30px;
          }
        }
      }
    }
  }
}
