@media screen and (max-width: 600px) {
  .filterMobile {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    .filterButton {
      margin: 0 10px;
      padding: 8px 16px;
      color: $fourth-color;
      background-color: $primary-color;
      border: solid 1px $third-color;
      border-radius: 16px;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.4s;

      &.active {
        background-color: $third-color;
        color: $primary-color;
      }
    }
  }
  .filterMobile::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .filterMobile {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    .filterButton {
      margin: 0 10px;
      padding: 8px 16px;
      color: $fourth-color;
      background-color: $primary-color;
      border: solid 1px $third-color;
      border-radius: 16px;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.4s;

      &.active {
        background-color: $third-color;
        color: $primary-color;
      }
    }
  }
}
