@media screen and (max-width: 600px) {
  .Nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 10vh;

    .headerTitle {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: lighter;
    }

    .orange {
      font-size: 23px;
      color: $secondary-color;
      font-family: $fontTitre;
    }

    .purple {
      font-size: 14px;
      color: $third-color;
      font-family: $fontText;
      font-weight: bold;
    }

    .navToolDesk {
      display: none;
    }

    .searchBar {
      display: none;
    }

    .deskNavIcons {
      display: none;
    }

    button {
      background-color: transparent;
      border-style: none;
      width: 36px;
      height: 36px;
    }

    .sunIcon {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 35px;
      color: white;
    }

    .moonIcon {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 35px;
      color: black;
    }
  }
}

@media screen and (min-width: 601px) {
  .Nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    .headerTitle {
      font-weight: lighter;
      padding-left: 40px;
    }

    .orange {
      font-size: 33px;
      color: $secondary-color;
      font-family: $fontTitre;
    }

    .purple {
      font-size: 24px;
      color: $third-color;
      font-family: $fontText;
      font-weight: bold;
    }

    .ulContainer {
      width: 30%;

      .navToolDesk {
        display: flex;
        font-family: $fontText;
        font-size: 25px;
        color: white;
        justify-content: space-between;

        li {
          display: flex;
          color: white;
        }
      }
    }

    .searchBar {
      background-color: #d9d9d9;
      width: 25vw;
      height: 50px;
      border-radius: 15px;
      border-style: none;
      outline-style: none;
      display: flex;
      align-items: center;
      position: relative;
      font-family: $fontText;
      font-size: 20px;
      .suggestions-dropdown {
        position: absolute;
        height: auto;
        width: 60%;
        top: 100%;
        left: 5%;
        right: 0;
        background-color: #d9d9d9;
        border-radius: 0 0 15px 15px;
        z-index: 1000;
        max-height: 80px;
        overflow-y: auto;
        font-family: $fontTitre;
        font-size: 15px;
        .option-settings {
          padding-top: 10px;
          padding-left: 15px;
        }

        .option-settings:hover {
          background-color: $third-color;
          color: $primary-color;
          cursor: pointer;
        }
      }
      input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 8px 16px;
        // font-size: 30px;
        color: $primary-color;
        font-family: $fontTitre;

        font-size: 18px;
      }
      button {
        position: relative;
        border: 0;
        width: 40px;
        height: 40px;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
      .searchButton {
        font-size: 30px;
      }
    }

    .deskNavIcons {
      display: flex;
      font-size: 35px;
      color: white;
      padding-right: 40px;
      width: 5%;
      justify-content: space-between;

      .userIconNav {
        color: white;
        cursor: pointer;
      }

      .cartIconNav {
        color: white;
      }

      .countCart {
        position: absolute;
        top: 15px;
        right: 30px;
        background-color: $secondary-color;
        font-family: $fontTitre;
        color: $fourth-color;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }

    .themeToggleBtn {
      display: none;
    }
  }
}
